@media only screen and (max-width: 1930px) {

}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1390px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {
  .news .news-like-news-items .news-like-news-item {
    height: 482px;
  }

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 770px) {
  .news .news-like-news-items .news-like-news-item {
    width: 45%;
  }
}

@media only screen and (max-width: 570px) {
  .news .news-like-news-items .news-like-news-item {
    width: 100%;
    height: 469px;
  }
  .social-panel{
    height:auto;
    .back-to-list{
      width: 100%;
      float:none;
    }
  .social-icons{
    float: none;
    text-align: center;
    margin: 20px 0;
    .share{
      display: none;
    }
  }
  }
}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}


