@media only screen and (max-width: 1930px) {

}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1390px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {

    .faculties{
      .faculties-item{
        width: 100%;
        height: auto;
        img{
          object-fit: contain;
        }
      }
      .faculties-item:nth-child(1),.faculties-item:nth-child(4),.faculties-item:nth-child(5){
        padding-bottom:55px;
      }

    }

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 568px) {
  .faculties_course{
    .faculties_course-items{
      .faculties_course-item {
        width: 100%!important;
      }
    }
  }
}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}


