@media only screen and (max-width: 1930px) {

}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1390px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {

  .hexagon-bg{
    display: none;
  }

  .page-logo .hexagon{
    top:149px;
  }
.header-news{

  .menu-icon{
    top: -70px important;
  }
}

}




@media only screen and (max-width: 570px) {

}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}


