.top-menu{
  position: relative;
  width: 100%;
  float: left;
  display: none;
  margin-top: -930px;
  z-index: 2;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.91);
  &__nav{
    position: relative;
    width: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    &_logo{
      display: block;
      position: relative;
      width: 232px;
      height: 172px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 85px;
      background-image: url("../img/main-logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
    } // _logo

    nav{
      display: block;
      position: relative;
      box-sizing: border-box;
      float: left;
      width: 100%;
      border-bottom: 1px solid #4c4547;
      margin-top: 114px;
      .menu-item{
        display: block;
        position: relative;
        box-sizing: border-box;
        float: left;
        width: 20%;
        text-align: center;
        cursor: pointer;
        .imgSpan{
          display: block;
          position: relative;
          width: 100%;
          height: 210px;
          margin-top: -82px;
          @include overflow-img;
          img{
            max-width: 150%;
          } // img
        } // imgSpan
        .imgP{
          margin-top: 0;
          border: 1px solid gray;
        } // imgP
        span{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 100%;
          overflow: hidden;
          svg{
            width: 110px;
            height: 93px;
            fill:#2d2626;
          } // svg
        } // span
        p{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 100%;
          color: white;
          line-height: 48px;
          font-size: 22px;
          font-family: $cyrlight;
          text-transform: uppercase;
          margin-top: 33px;
        } // p
      } // menu-item
      .menu-item:hover{
        svg{
          fill: #93462a;
        } // svg
        p{
          color: #93462a;
        } //p
        svg, p{
          -webkit-transition: all ease-out 300ms;
          -moz-transition: all ease-out 300ms;
          -o-transition: all ease-out 300ms;
          transition: all ease-out 300ms;
        }
      } // menu-item:hover
    } // nav

    &_contacts{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 110px;
      .left, .right{
        cursor: pointer;
        span{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 40%;
          overflow: hidden;
          padding: 7px;
          svg{
            width: 44px;
            height: 30px;
            fill:#2d2626;
          } // svg
        } // span
        p{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 60%;
          color: white;
          line-height: 48px;
          font-size: 22px;
          font-family: $cyrlight;
          text-transform: uppercase;
          margin: 0;
        } // p
      }
      .left:hover, .right:hover{
        svg{
          fill: #93462a;
        } // svg
        p{
          color: #93462a;
        } //p
        svg, p{
          -webkit-transition: all ease-out 300ms;
          -moz-transition: all ease-out 300ms;
          -o-transition: all ease-out 300ms;
          transition: all ease-out 300ms;
        }
      }
      .left{
        display: block;
        position: relative;
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: right;
        span{
          width: 70%;
        }
        p{
          width: 30%;
          text-align: left;
          padding-left: 19px;
        }
      }
      .right{
        display: block;
        position: relative;
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: left;
        span{
          width: 19%;
          text-align: right;
        }
        p{
          width: 81%;
          padding-left: 19px;
        }
      }
    } // _contacts
    &_social{
      display: block;
      position: relative;
      box-sizing: border-box;
      float: left;
      width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 95px;
      a{
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        float: none;
        margin-right: 10px;
        span{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 40px;
          height: 40px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    } // _social
  } // __nav
} // __content