.head{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box;
  .owl-carousel {
    height: 930px;
    .item {
      display: block;
      width: 100%;
      height: 930px;
      position: relative;
      float: left;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
    } // item
    .slide1{
      background-image: url("../img/slide1.png");
      .logo{
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        width: 50%;
        margin: 200px auto;
        img{
          object-fit: cover;
        } // img
      } // logo
    } // slide1
    .slide2{
      background-image: url("../img/slide2.png");
      .text-logo{
        display: block;
        width: 100%;
        position: relative;
        margin: 378px auto;
        h1{
          font-family: $exo2;
          text-transform: uppercase;
          font-size: 77px;
          color: white;
          font-weight: normal;
          margin: 30px auto;
          line-height: 72px;
        } // h1
        h1:last-child{
          text-align: left;
          margin-left: 150px;
        } // h1:last-child
      }  // text-logo
    } // slide2
  } // owl-carousel
  &__content{
    position: relative;
    width: 100%;
    float: left;
    display: block;
    margin-top: -930px;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    &__nav{
      position: relative;
      width: 100%;
      float: left;
      display: block;
      box-sizing: border-box;
      &_logo{
        display: block;
        position: relative;
        width: 232px;
        height: 172px;
        margin: 0 auto;
        background-image: url("../img/main-logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
      } // _logo
      nav{
        display: block;
        position: relative;
        box-sizing: border-box;
        float: left;
        width: 100%;
        border-bottom: 1px solid #4c4547;
        margin-top: 114px;
        .menu-item{
          display: block;
          position: relative;
          box-sizing: border-box;
          float: left;
          width: 20%;
        } // menu-item
      } // nav
      &_social{
        box-sizing: border-box;
      } // _social
    } // __nav
    .menu-icon{
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-image: url("../img/menu-logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      top:0;
      right: 0;
      margin-top: 100px;
      box-sizing: border-box;
    } // menu-icon
  } // __content
} // section head


