.head{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box;
  .owl-carousel {
    height: 930px;
    .item {
      display: block;
      width: 100%;
      height: 930px;
      position: relative;
      float: left;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
    } // item
    .slide1{
      background-image: url("../img/slide1.png");
      .logo{
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        width: 50%;
        margin: 200px auto;
        img{
          object-fit: cover;
        } // img
      } // logo
    } // slide1
    .slide2{
      background-image: url("../img/slide2.png");
      .text-logo{
        display: block;
        width: 100%;
        position: relative;
        margin: 378px auto;
        h1{
          font-family: 'Exo2Medium';
          text-transform: uppercase;
          font-size: 77px;
          color: white;
          font-weight: normal;
          margin: 30px auto;
          line-height: 72px;
        } // h1
        h1:last-child{
          text-align: left;
          margin-left: 150px;
        } // h1:last-child
      }  // text-logo
    } // slide2
  } // owl-carousel
} // section head


.content{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box;
  &__faculties{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    background-image: url("../img/bg_girl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px 0;
    h2{
      color: #93462a;
      font-family:'HelveticaNeueCyrThin';
      font-size: 60px;
      font-weight: 100;
      text-transform: uppercase;
      margin-top: 85px;
    }
    .line{
      display: block;
      position: relative;
      width: 256px;
      height: 1px;
      background-color: #4c4547;
      float: none;
      margin: 50px auto;
    }
    p{
      color: #4c4547;
      font-size: 18px;
      font-family:'HelveticaNeueCyrMedium';
    }
    &_items{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      box-sizing: border-box;
      margin: 115px auto;
      .item{
        display: block;
        position: relative;
        width: 33.3%;
        float: left;
        box-sizing: border-box;
        &__img{
          display: block;
          position: relative;
          width: 100%;
          height: 405px;
          float: left;
          box-sizing: border-box;
          overflow: hidden;
          img{
            height: 100%;
            object-fit: cover;
          }
        }
        &__txt{
          display: block;
          position: absolute;
          right: -10px;
          bottom: 0;
          width: 275px;
          height: 150px;
          background-color: #dfdec0;
          cursor: pointer;
          -webkit-transition: bottom ease-out 300ms;
          -moz-transition: bottom ease-out 300ms;
          -o-transition: bottom ease-out 300ms;
          transition: bottom ease-out 300ms;
          .arrow{
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            bottom: -21px;
            right: 8px;
            background-image: url("../img/arrow.png");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 21;
          }
          p{
            display: block;
            position: absolute;
            color: #120c09;
            font-family: 'HelveticaNeueCyrMedium';
            font-size: 20px;
            line-height: 1.5;
            font-weight: normal;
            text-transform: uppercase;
            text-align: left;
            padding-left: 25px;

          }
          &::after{
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            bottom: -30px;
            border-top: 30px solid #dfdec0;
            border-left: 275px solid transparent;
            content: "";
          }
        }
        &__txt:hover{
          background-color: #93462a;
          bottom: -40px;
          &::after{
            border-top: 30px solid #93462a;
          }
          p{
            color: #fefdfc;
          }
          .arrow{
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            bottom: -21px;
            right: 8px;
            background-image: url("../img/arrow-active.png");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 21;
          }
        }
      }
    }
  }
}


