.bread-crumbs{
  width: 100%;
  display: block;
  text-align: center;
  margin-top:0;
  a,p{
    display: inline-block;
    color: #4c4547;
    font-family: $cyrlight;
    text-decoration: none;
    height: 16px;
  }
}

.news{
  .news-header{
    color: #93462a;
    font-family: $cyrlight;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  .date{
    background-color: #868382;
    width: 97px;
    height: 30px;
    color: #dfdec0;
    font-family: $cyrlight;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top:3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .news-item{
    p{
      font-family: $cyrlight;
      font-size: 17px;
      color: #4c4547;
    }
    .news-item-img{
      margin-right:34px;
      margin-bottom: 34px;
      width: 394px;
      max-height:304px;
      overflow: hidden;
      float: left;
      img{
        object-fit: cover;
      }
    }
  }
  .news-like-news-items{
    width: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .news-like-news-item{
      text-align: center;
      float: left;
      height: 462px;
      margin: 0 1.2%;
      width: 30.9%;
      border: 2px solid #dfdec0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 30px;
      .news-like-news-item-img{
        width: 100%;
        height: 296px;
        overflow: hidden;
        img{
          object-fit: cover;
        }
      }
      .news-time{
        font-size: 14px;
        font-weight: 100;
        line-height: 22px;
        font-style: italic;
        display: block;
        margin-top: 16px;
      }
      .news-descr{
        font-family:$cyrlight;
        font-size: 18px;
        margin-top:5px;
        margin-bottom:5px;
        height: 58px;
        overflow: hidden;
      }
      .more{
        display: block;
        border-top: 2px solid #dfdec0;
        height: 42px;
          font-family:$cyrlight;
          font-size: 17px;
          margin-top:19px;
          color: #93472b;
        padding-top: 9px;
        box-sizing: border-box;
        &:hover{
          background-color: #93472b;
          color:#fff;
        }
      }
    }
  }
}

.line{
  display: block;
  width: 259px;
  height: 1px;
  background-color: #4c4547;
  margin-bottom:10px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.social-panel{
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e0dfc0;
  height: 110px;
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 46px;
  .back-to-list{
    img{
      position: relative;
      top: 3px;
      left: -10px;
    }
    float: left;
    display: block;
    padding-top:9px;
    width: 290px;
    height: 41px;
    border: 1px solid #93462a;
    color: #93462a;
    text-align: center;
    font-size:17px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social-icons{
    float: right;
    .share{
      color: #4c4547;
      font-family: $cyrlight;
      font-size: 17px;
      position: relative;
      top:-13px;
    }
  }
}
.more-arrow{

  z-index: 8;
  display: block;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-top: 19px;
  width: 55px;
  height: 55px;
  border: 1px solid #93462a;
  color: #93462a;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-family: HelveticaNeueCyrLight;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}